$brand-color: #474F62 !default
$accent-color: #474F62 !default

// neutrals
$white: #FFFFFF !default
$neutral: #979797 !default
$neutral-light: #FAFAFA !default
$neutral-dark: #4A4A4A !default
$black: #2D2D2D !default

// general
$shadow-color: $neutral

// app theme
$app-bg: none !default
$app-fg: $black !default
$content-bg: transparent !default
$content-fg: $app-fg !default
$content-alt-bg: $white !default
$content-alt-fg: $black !default
$header-bg: $white !default
$header-fg: $app-fg !default
$footer-bg: $white !default
$footer-fg: $app-fg !default

// text
$text-color: $app-fg !default
$heading-bg: none !default
$heading-fg: #4A4A4A !default
$sub-heading-bg: none !default
$sub-heading-fg: inherit !default
$link-fg: $brand-color !default
$link-bg: none !default
$link-hover-fg: $brand-color !default
$link-hover-bg: none !default
$link-active-fg: $brand-color !default
$link-active-bg: none !default
$link-visited-fg: $brand-color !default
$link-visited-bg: none !default

// actions
$action-bg: $neutral-light !default
$action-fg: $neutral-dark !default
$action-border: transparent !default
$action-hover-bg: rgba($neutral-light, 0.8) !default
$action-hover-fg: $action-fg !default
$action-hover-border: transparent !default
$primary-action-bg: $brand-color !default
$primary-action-fg: $white !default
$primary-action-border: transparent !default
$primary-action-hover-bg: rgba($brand-color, 0.8) !default
$primary-action-hover-fg: $white !default
$primary-action-hover-border: transparent !default

// navigation
$nav-fg: $app-fg !default
$nav-bg: transparent !default
$nav-border: transparent !default
$nav-item-fg: $link-fg !default
$nav-item-bg: $link-bg !default
$nav-item-border: transparent !default
$nav-item-hover-fg: $link-fg !default
$nav-item-hover-bg: $neutral-light !default
$nav-item-hover-border: transparent !default
$nav-item-active-fg: $white !default
$nav-item-active-bg: $neutral !default
$nav-item-active-border: transparent !default

// table
$table-fg: $app-fg !default
$table-bg: transparent !default
$table-head-fg: $app-fg !default
$table-head-bg: $neutral-light !default
$table-foot-fg: $table-head-fg !default
$table-foot-bg: $table-head-bg !default
$table-row-border: transparent transparent $neutral-light !default
$table-column-border: transparent !default
$table-cell-border: transparent !default

// form
$form-input-bg: $app-bg !default
$form-input-fg: rgba($black, 0.8) !default
$form-input-border: rgba($black, 0.1) !default
$form-input-focus-border: rgba($black, 0.3) !default
$form-input-focus-fg: $black !default
$form-fieldset-border: $neutral-light !default
$button-border: $action-border !default
$button-focus-border: transparent !default